.venv
.env
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
.build/
dist/
build/
*.egg-info
.git/
.gitignore
.DS_Store
.ipynb_checkpoints/
notebooks/
__pycache__/
*.log
.idea/
.vscode/
*.sqlite3
